<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('修改公司')"/>
    <th:block th:include="include :: select2-css"/>
    <th:block th:include="include :: bootstrap-fileinput-css"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-dept-edit" th:object="${dept}">
        <input name="deptId" type="hidden" th:field="*{deptId}"/>
        <input id="treeId" name="parentId" type="hidden" th:field="*{parentId}"/>
        <div class="form-group">
            <label class="col-sm-3 control-label">上级公司：</label>
            <div class="col-sm-8">
                <div class="input-group">
                    <input class="form-control" type="text" id="treeName" onclick="selectDeptTree()" readonly="true"
                           th:field="*{parentName}">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">名称：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="deptName" th:field="*{deptName}" id="deptName" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">公司图片：</label>
            <input class="form-control" id="companyImg" th:field="*{companyImg}" name="companyImg" required
                   type="hidden">
            <div class="col-sm-8">
                <div class="file-loading">
                    <input id="fileInput" multiple name="file" type="file">
                </div>
                <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 建议尺寸：800px * 350px</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">公司/部门等级：</label>
            <div class="col-sm-8">
                <select class="form-control m-b" id="deptLevel" name="deptLevel" th:field="*{deptLevel}"
                        th:with="type=${@dict.getType('city_level')}">
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" required>
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">显示排序：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="orderNum" th:field="*{orderNum}" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">负责人：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="leader" th:field="*{leader}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">联系电话：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="phone" th:field="*{phone}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">邮箱：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="email" th:field="*{email}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">状态：</label>
            <div class="col-sm-8">
                <div class="radio-box" th:each="dict : ${@dict.getType('sys_normal_disable')}">
                    <input type="radio" th:id="${dict.dictCode}" name="status" th:value="${dict.dictValue}"
                           th:field="*{status}">
                    <label th:for="${dict.dictCode}" th:text="${dict.dictLabel}"></label>
                </div>
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: select2-js"/>
<th:block th:include="include :: bootstrap-fileinput-js"/>
<script th:inline="javascript">

    ///////////////单图片上传开始/////////////////////
    // 取传过来的图片值
    // 单图片上传成功后回调值存储到这个变量中
    var imageUploadResult = $("#companyImg").val();
    // 单图片上传组件
    $(document).ready(function () {
        $("#fileInput").fileinput({
            theme: 'explorer-fas',
            uploadUrl: ctx + 'app/upload',
            deleteUrl: ctx + 'app/upload',
            overwriteInitial: true,
            initialPreviewAsData: true,
            uploadAsync: true, // 异步上传
            maxFileCount: 1, //上传最大数量
            autoReplace: true, // 自动替换当前图片
            // allowedFileTypes: ['jpg','png'], // 图片上传格式限制
            maxFileSize: 20480, // 文件大小限制 最大20M
            initialPreview: [
                imageUploadResult
            ]
        });
    });
    $("#fileinput").on('filebeforedelete', function (event, key) {
        $("#companyImg").val("");
    });
    // 单图片上传成功后回调
    $("#fileInput").on("fileuploaded", function (event, data, previewId, index) {
        if (data.response.status === 'success') {
            $("#companyImg").val("");
            imageUploadResult = data.response.message;
            $("#companyImg").val(imageUploadResult);
            $.modal.msgSuccess("上传成功！");
        } else {
            $.modal.msgError("上传错误！");
        }
    });

    var prefix = ctx + "system/dept";

    $("#form-dept-edit").validate({
        onkeyup: false,
        rules: {
            deptName: {
                remote: {
                    url: prefix + "/checkDeptNameUnique",
                    type: "post",
                    dataType: "json",
                    data: {
                        "deptId": function () {
                            return $("#deptId").val();
                        },
                        "parentId": function () {
                            return $("input[name='parentId']").val();
                        },
                        "deptName": function () {
                            return $.common.trim($("#deptName").val());
                        }
                    },
                    dataFilter: function (data, type) {
                        return $.validate.unique(data);
                    }
                }
            },
            orderNum: {
                digits: true
            },
            email: {
                email: true,
            },
            phone: {
                isPhone: true,
            },
        },
        messages: {
            "deptName": {
                remote: "公司已经存在"
            }
        },
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/edit", $('#form-dept-edit').serialize());
        }
    }

    /*公司管理-修改-选择公司树*/
    function selectDeptTree() {
        var deptId = $("#treeId").val();
        var excludeId = $("input[name='deptId']").val();
        if (deptId > 0) {
            var options = {
                title: '公司选择',
                width: "380",
                url: prefix + "/selectDeptTree/" + $("#treeId").val() + "/" + excludeId,
                callBack: doSubmit
            };
            $.modal.openOptions(options);
        } else {
            $.modal.alertError("父公司不能选择");
        }
    }

    function doSubmit(index, layero) {
        var tree = layero.find("iframe")[0].contentWindow.$._tree;
        if ($.tree.notAllowLastLevel(tree)) {
            var body = layer.getChildFrame('body', index);
            $("#treeId").val(body.find('#treeId').val());
            $("#treeName").val(body.find('#treeName').val());
            layer.close(index);
        }
    }

</script>
</body>
</html>
