<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('新增人与人pk')"/>
    <th:block th:include="include :: summernote-css"/>
    <th:block th:include="include :: select2-css"/>
    <th:block th:include="include :: bootstrap-fileinput-css"/>
    <th:block th:include="include :: datetimepicker-css"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-winningTrainingRecord-add">
        <div class="form-group">
            <label class="col-sm-3 control-label">排序：</label>
            <div class="col-sm-8">
                <input name="sortNum" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">pk/对赌类型：</label>
            <div class="col-sm-8">
                <select name="pkBettingType" class="form-control m-b" onchange="change()" id="pkBettingType">
                    <option value="">所有</option>
                    <option value="1">员工与员工pk</option>
                    <option value="2">部门与部门pk</option>
                    <option value="3">小组与小组pk</option>
                    <option value="4">个人与部门对赌</option>
                    <option value="5">个人与公司对赌</option>
                    <option value="6">部门与公司对赌</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">赢的训练类型：</label>
            <div class="col-sm-8">
                <select name="winningTrainingType" class="form-control m-b">
                    <option value="">所有</option>
                    <option value="1">pk</option>
                    <option value="2">对赌</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">奖励积分：</label>
            <div class="col-sm-8">
                <input name="rewardScore" class="form-control" type="number">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">标题：</label>
            <div class="col-sm-8">
                <input name="title" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group hidden">
            <label class="col-sm-3 control-label is-required">部门：</label>
            <div class="col-sm-8">
                <div class="input-group">
                    <input name="deptId" type="hidden" id="treeId"/>
                    <input name="parentId" type="hidden" id="parentId"/>
                    <input name="deptName" onclick="selectDeptTree()" id="treeName" type="text" placeholder="请选择归属部门"
                           class="form-control">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">甲方用户：</label>
            <div class="col-sm-8">
                <div class="input-group">
                    <input name="partyAName" id="partyAName" class="form-control valid" type="text" readonly="readonly"
                           onclick="checkAllAccount('A')">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    <input name="partyAAccountId" id="partyAAccountId" class="form-control" type="hidden">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">乙方用户：</label>
            <div class="col-sm-8">
                <div class="input-group">
                    <input name="partyBName" id="partyBName" class="form-control valid" type="text" readonly="readonly"
                           onclick="checkAllAccount('B')">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    <input name="partyBAccountId" id="partyBAccountId" class="form-control" type="hidden">
                </div>
            </div>
        </div>
        <!--对赌用-->
        <div id="betDiv">
            <div class="form-group">
                <label class="col-sm-3 control-label is-required">对赌金额：</label>
                <div class="col-sm-8">
                    <input name="betAmount" class="form-control" type="number" id="betAmount">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label is-required">公示时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="formulaTime" class="form-control" placeholder="yyyy-MM-dd HH:mm:ss" type="text"
                               id="formulaTime">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">附件：</label>
            <div class="col-sm-8">
                <input type="hidden" name="enclosure">
                <div class="file-loading">
                    <input class="form-control file-upload" id="informationPostFile" name="file" type="file" multiple>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">甲方头像：</label>
            <div class="col-sm-8">
                <input type="hidden" name="partyAHeadImg">
                <div class="file-loading">
                    <input class="form-control file-upload file-uploadImg" id="partyAHeadImg" name="file" type="file">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">乙方头像：</label>
            <div class="col-sm-8">
                <input type="hidden" name="partyBHeadImg">
                <div class="file-loading">
                    <input class="form-control file-upload file-uploadImg" id="partyBHeadImg" name="file" type="file">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">pk/对赌开始时间：</label>
            <div class="col-sm-8">
                <div class="input-group date">
                    <input name="beginTime" class="form-control" placeholder="yyyy-MM-dd" type="text">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">pk/对赌结束时间：</label>
            <div class="col-sm-8">
                <div class="input-group date">
                    <input name="endTime" class="form-control" placeholder="yyyy-MM-dd" type="text">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">实时跟进岗位：</label>
            <div class="col-sm-8">
                <select name="realFollowPostid" class="form-control select2-multiple" multiple>
                    <option th:each="post : ${sysPostList}" th:text="${post.postName}"
                            th:value="${post.postId}"></option>
                </select>
                <input name="realFollowPostName" id="realFollowPostName" class="form-control" type="hidden">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">pk/对赌状态：</label>
            <div class="col-sm-8">
                <select name="pkStatus" class="form-control m-b">
                    <option value="">所有</option>
                    <option value="0">未开始</option>
                    <option value="1">进行中</option>
                    <option value="2">已结束</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">pk/对赌照片：</label>
            <div class="col-sm-8">
                <input type="hidden" name="pictureUrl">
                <div class="file-loading">
                    <input class="form-control file-upload file-uploadImg" id="pictureUrl" name="file" type="file">
                </div>
            </div>
        </div>
        <div class="form-group" id="partyATargetDiv">
            <label class="col-sm-3 control-label">甲方目标：</label>
            <div class="col-sm-8">
                <textarea name="partyATarget" id="partyATarget" class="form-control"></textarea>
            </div>
        </div>
        <div class="form-group" id="partyBTargetDiv">
            <label class="col-sm-3 control-label">乙方目标：</label>
            <div class="col-sm-8">
                <textarea name="partyBTarget" id="partyBTarget" class="form-control"></textarea>
            </div>
        </div>
        <h4 class="form-header h4">字段值</h4>
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-12 select-table table-striped">
                    <table id="bootstrap-table"></table>
                </div>
                <div class="enlarge_box" style="cursor:pointer;">
                    <img id="enlarge_box_img" alt="" name="pic" src="" style="z-index: 99;">
                </div>
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: summernote-js"/>
<th:block th:include="include :: select2-js"/>
<th:block th:include="include :: bootstrap-fileinput-js"/>
<th:block th:include="include :: datetimepicker-js"/>
<script th:inline="javascript">
    var prefix = ctx + "web/winningTrainingRecord"
    $("#form-winningTrainingRecord-add").validate({
        focusCleanup: true
    });

    function submitHandler() {
        var pkBettingType = $("#pkBettingType").val();
        if (pkBettingType == 4 || pkBettingType == 5 || pkBettingType == 6) {

        } else {
            $("#partyATarget").val('');
            $("#partyBTarget").val('');
            $("#betAmount").val('');
            $("#formulaTime").val('');
        }
        var partyAAccountId = $("#partyAAccountId").val();
        var partyBAccountId = $("#partyBAccountId").val();
        if (partyAAccountId == partyBAccountId) {
            alert("Pk双方不能相同。");
            return false;
        }
        if ($.validate.form()) {
            $.operate.save(prefix + "/add", $('#form-winningTrainingRecord-add').serialize());
        }
    }

    $(function () {
        var options = {
            data: [[${content}]],
            pagination: false,
            showSearch: false,
            showRefresh: false,
            showToggle: false,
            showColumns: false,
            sidePagination: "client",
            columns: [
                {
                    field: 'index',
                    align: 'center',
                    title: "序号",
                    formatter: function (value, row, index) {
                        var columnIndex = $.common.sprintf("<input required type='hidden' name='index' value='%s'>", $.table.serialNumber(index));
                        return columnIndex + $.table.serialNumber(index);
                    }
                },
                {
                    field: 'fieldName',
                    align: 'center',
                    title: '名称',
                    formatter: function (value, row, index) {
                        return $.table.tooltip(value);
                    }
                },
                {
                    field: 'value',
                    align: 'center',
                    title: '内容',
                    formatter: function (value, row, index) {
                        var html = "";
                        html = html + $.common.sprintf("<input required class='form-control' required type='hidden' name='templateFieldList[%s].fieldEnglishName' value='" + row.fieldEnglishName + "'>", index, value);
                        html = html + $.common.sprintf("<input required class='form-control' required type='hidden' name='templateFieldList[%s].fieldName' value='" + row.fieldName + "'>", index, value);
                        html = html + $.common.sprintf("<input required class='form-control' required type='hidden' name='templateFieldList[%s].fieldType' value='" + row.fieldType + "'>", index, value);
                        html = html + $.common.sprintf("<input required class='form-control' required type='hidden' name='templateFieldList[%s].fieldOptional' value='" + row.fieldOptional + "'>", index, value);
                        html = html + $.common.sprintf("<input required class='form-control' required type='hidden' name='templateFieldList[%s].fieldLength' value='" + row.fieldLength + "'>", index, value);
                        html = html + $.common.sprintf("<input required class='form-control' required type='hidden' name='templateFieldList[%s].sortNum' value='" + row.sortNum + "'>", index, value);
                        html = html + $.common.sprintf("<input class='form-control' type='text' name='templateFieldList[%s].value' value='%s'>", index, value);
                        return html;
                    }
                }
            ]
        };
        $.table.init(options);
    });


    // 打开文档
    function openWord(url) {
        window.open(url)
    }

    // 放大和隐藏图片
    function clouds(that) {
        $('.enlarge_box').show();
        let img_src = $(that).attr('src');
        let $preview = $('#enlarge_box_img').attr('src')
        if ($preview != img_src) {
            $('#enlarge_box_img').attr('src', img_src)
        }
        //获取图片大小
        let widthHtml = $('#enlarge_box_img').width();
        let heightHtml = $('#enlarge_box_img').height();
        let a_widthHtml = '-' + widthHtml / 2;
        let a_heightHtml = '-' + heightHtml / 2;
        //图片宽高比例
        let proportion = widthHtml / heightHtml;

        //获取浏览器可视区域大小
        let windowsWidth = $(window).width();
        let windowsHeight = $(window).height();
        let a_windowsWidth = windowsWidth * 0.8;
        let a_windowsHeight = windowsHeight * 0.8;
        let b_windowsWidth = '-' + a_windowsWidth / 2;
        let b_windowsHeight = "-" + a_windowsHeight / 2
        let a = "-" + proportion * a_windowsHeight / 2;

        if (widthHtml > a_windowsWidth || heightHtml > a_windowsHeight) {
            $('#enlarge_box_img').css({
                'height': a_windowsHeight + 'px',
                'position': 'fixed',
                'display': 'block',
                'left': 50 + '%',
                'margin-left': a + 'px',
                'top': 50 + '%',
                'margin-top': b_windowsHeight + 'px',
                'z-index': 9999,
            })
        } else {
            $('#enlarge_box_img').css({
                'position': 'fixed',
                'display': 'block',
                'left': 50 + '%',
                'margin-left': a_widthHtml + 'px',
                'top': 50 + '%',
                'margin-top': a_heightHtml + 'px',
                'z-index': 9999,
            })
        }
    }

    //点击放大后的图片隐藏
    $('.enlarge_box').click(function () {
        $('.enlarge_box').hide();
        $('#enlarge_box_img').attr('src', '')
        $('#enlarge_box_img').removeAttr("style")
    });

    function replaceSpace(value) {
        return value.replace(/ /g, '%20');
    }

    // 多文件上传成功后回调值存储到这个变量中
    var uploadResults = '';
    $("#informationPostFile").fileinput({
        uploadUrl: ctx + 'app/upload',
        //allowedFileExtensions: ['mp4','doc','docx','ppt','pptx','ppts','pdf','xlsx','xls'],
        maxFileCount: 10,
        autoReplace: true
    }).on('fileuploaded', function (event, data, previewId, index) {
        if (uploadResults == '') {
            uploadResults = data.response.message;
            //$("input[name='" + event.currentTarget.id + "']").val(uploadResults);
            $("input[name='enclosure']").val(uploadResults);
        } else {
            uploadResults += ',' + data.response.message;
            //$("input[name='" + event.currentTarget.id + "']").val(uploadResults)
            $("input[name='enclosure']").val(uploadResults);
        }
    }).on('fileremoved', function (event, id, index) {
        var arr = uploadResults.split(',');
        arr.splice(index, 1);
        //$("input[name='" + event.currentTarget.id + "']").val(arr.join(','));
        $("input[name='enclosure']").val(arr.join(','));
        //$("#fileSize").val(0.0);
    }).on("change", function () {
        var cur = this;
        var size = cur.files[0].size;
        //$("#fileSize").val(Math.round(size/1024));
    });

    $(".file-uploadImg").fileinput({
        uploadUrl: ctx + 'app/upload',
        maxFileCount: 1,
        autoReplace: true
    }).on('fileuploaded', function (event, data, previewId, index) {
        $("input[name='" + event.currentTarget.id + "']").val(data.response.message)
    }).on('fileremoved', function (event, id, index) {
        $("input[name='" + event.currentTarget.id + "']").val('')
    })

/*    $("input[name='beginTime']").datetimepicker({
        format: "yyyy-mm-dd hh:ii",
        minView: "month",
        startView: 0,
        autoclose: true
    });
    $("input[name='endTime']").datetimepicker({
        format: "yyyy-mm-dd hh:ii",
        minView: "month",
        startView: 0,
        autoclose: true
    });
    $("input[name='formulaTime']").datetimepicker({
        format: "yyyy-mm-dd hh:ii",
        minView: "month",
        startView: 0,
        autoclose: true
    });*/

    $("input[name='beginTime']").datetimepicker({
        format: "yyyy-mm-dd hh:ii:00",
        minuteStep: 10,
        minView: 'hour',
        autoclose: true,
        todayBtn: true,
        startDate: new Date(),
        endDate: new Date(new Date().getTime()+(24 * 60 * 60 * 1000 * 30)),
    }).on('changeDate', function (event) {
        event.preventDefault();
        event.stopPropagation();
        var startTime = event.date;
        $("input[name='beginTime']").datetimepicker('setStartDate', startTime);
    });

    $("input[name='endTime']").datetimepicker({
        format: "yyyy-mm-dd hh:ii:00",
        minuteStep: 10,
        minView: 'hour',
        autoclose: true,
        todayBtn: true,
        startDate: new Date(),
        endDate: new Date(new Date().getTime()+(24 * 60 * 60 * 1000 * 30)),
    }).on('changeDate', function (event) {
        event.preventDefault();
        event.stopPropagation();
        var startTime = event.date;
        $("input[name='endTime']").datetimepicker('setStartDate', startTime);
    });

    $("input[name='formulaTime']").datetimepicker({
        format: "yyyy-mm-dd hh:ii:00",
        minuteStep: 10,
        minView: 'hour',
        autoclose: true,
        todayBtn: true,
        startDate: new Date(),
        endDate: new Date(new Date().getTime()+(24 * 60 * 60 * 1000 * 30)),
    }).on('changeDate', function (event) {
        event.preventDefault();
        event.stopPropagation();
        var startTime = event.date;
        $("input[name='formulaTime']").datetimepicker('setStartDate', startTime);
    });

    $("#partyATargetDiv").attr("style", "display:none;");//隐藏div
    $("#partyBTargetDiv").attr("style", "display:none;");//隐藏div
    $("#betDiv").attr("style", "display:none;");//隐藏div
    function change() {
        var pkBettingType = $("#pkBettingType").val();
        if (pkBettingType == 4 || pkBettingType == 5 || pkBettingType == 6) {
            $("#partyATargetDiv").attr("style", "display:block;");//显示div
            $("#partyBTargetDiv").attr("style", "display:block;");//显示div
            $("#betDiv").attr("style", "display:block;");//显示div
        } else {
            $("#partyATargetDiv").attr("style", "display:none;");//隐藏div
            $("#partyBTargetDiv").attr("style", "display:none;");//隐藏div
            $("#betDiv").attr("style", "display:none;");//隐藏div
        }

        $("#partyAAccountId").val('');
        $("#partyAName").val('');

        $("#partyBAccountId").val('');
        $("#partyBName").val('');
    }

    /* 用户管理-新增-选择部门树 */
    function selectDeptTree(pkBettingType, partyType) {
        var treeId = $("#treeId").val();
        var deptId = $.common.isEmpty(treeId) ? "100" : $("#treeId").val();
        var url = ctx + "system/dept/selectDeptTree/" + deptId;
        var options = {
            title: '选择部门',
            width: "380",
            url: url,
            callBack: function (index, layero) {
                var tree = layero.find("iframe")[0].contentWindow.$._tree;
                var body = layer.getChildFrame('body', index);
                $("#treeId").val(body.find('#treeId').val());
                $("#treeName").val(body.find('#treeName').val());
                $("#parentId").val(body.find('#parentId').val());

                if (partyType == 'A') {
                    $("#partyAAccountId").val(body.find('#treeId').val());
                    $("#partyAName").val(body.find('#treeName').val());
                } else if (partyType == 'B') {
                    $("#partyBAccountId").val(body.find('#treeId').val());
                    $("#partyBName").val(body.find('#treeName').val());
                }

                var parentId = $("#parentId").val();
                if (pkBettingType == 1) {

                } else if (pkBettingType == 2) {
                    //部门与部门PK
                    if (parentId == 100 || parentId == '') {
                        alert("只能选择部门，不能选择公司或平台。");
                        if (partyType == 'A') {
                            $("#partyAAccountId").val('');
                            $("#partyAName").val('');
                        } else if (partyType == 'B') {
                            $("#partyBAccountId").val('');
                            $("#partyBName").val('');
                        }
                        return false;
                    }
                } else if (pkBettingType == 3) {
                    //小组与小组PK

                } else if (pkBettingType == 4) {
                    //个人与部门对赌
                    if (parentId == 100 || parentId == '') {
                        alert("只能选择部门，不能选择公司或平台。");
                        if (partyType == 'B') {
                            $("#partyBAccountId").val('');
                            $("#partyBName").val('');
                        }
                        return false;
                    }
                } else if (pkBettingType == 5) {
                    //个人与公司对赌
                    if ((parentId != 100 && parentId != '') && partyType == 'B') {
                        alert("只能选择公司，不能选择部门。");
                        if (partyType == 'B') {
                            $("#partyBAccountId").val('');
                            $("#partyBName").val('');
                        }
                        return false;
                    }
                } else if (pkBettingType == 6) {
                    //部门与公司对赌
                    if ((parentId == 100 || parentId == '') && partyType == 'A') {
                        alert("只能选择部门，不能选择公司或平台。");
                        if (partyType == 'A') {
                            $("#partyAAccountId").val('');
                            $("#partyAName").val('');
                        }
                        return false;
                    }
                    if ((parentId != 100 && parentId != '') && partyType == 'B') {
                        alert("只能选择公司，不能选择部门。");
                        if (partyType == 'B') {
                            $("#partyBAccountId").val('');
                            $("#partyBName").val('');
                        }
                        return false;
                    }
                }
                layer.close(index);
            }
        };
        $.modal.openOptions(options);
    }

    function account() {
        var url = "/web/winningTrainingRecord/allAccount";
        var options = {
            title: '查看用户列表',
            width: "1500",
            url: url
        };
        $.modal.openOptions(options);
    }

    function groupInfor() {
        var url = "/web/winningTrainingRecord/winningGroupInfor";
        var options = {
            title: '查看小组列表',
            width: "1500",
            url: url
        };
        $.modal.openOptions(options);
    }

    var partyType = "A";
    function checkAllAccount(partyType) {
        this.partyType = partyType;
        var pkBettingType = $("#pkBettingType").val();
        if (pkBettingType == null || pkBettingType == '') {
            alert("请先选择PK/对赌类型。");
            return false;
        }
        //员工与员工pk
        if (pkBettingType == 1) {
            account();
        } else if (pkBettingType == 2) {
            //部门与部门PK
            selectDeptTree(pkBettingType, partyType);
        } else if (pkBettingType == 3) {
            //小组与小组PK
            groupInfor();
        } else if (pkBettingType == 4) {
            //个人与部门对赌
            if (partyType == "A") {
                account();
            } else if (partyType == "B") {
                selectDeptTree(pkBettingType, partyType);
            }
        } else if (pkBettingType == 5) {
            //个人与公司对赌
            if (partyType == "A") {
                account();
            } else if (partyType == "B") {
                selectDeptTree(pkBettingType, partyType);
            }
        } else if (pkBettingType == 6) {
            //部门与公司对赌
            selectDeptTree(pkBettingType, partyType);
        }
    }
</script>
</body>
</html>