<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增目标训练记录')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-targetTrainingRecord-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label">目标训练主键id：</label>
                <div class="col-sm-8">
                    <input name="targetTrainingId" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">标题：</label>
                <div class="col-sm-8">
                    <textarea name="title" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">年份：</label>
                <div class="col-sm-8">
                    <input name="years" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">0:否 1:删除：</label>
                <div class="col-sm-8">
                    <div class="radio-box">
                        <input type="radio" name="delStatus" value="">
                        <label th:for="delStatus" th:text="未知"></label>
                    </div>
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 代码生成请选择字典属性</span>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">显示状态 0：显示 1：隐藏：</label>
                <div class="col-sm-8">
                    <div class="radio-box">
                        <input type="radio" name="showStatus" value="">
                        <label th:for="showStatus" th:text="未知"></label>
                    </div>
                    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> 代码生成请选择字典属性</span>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">排序，数字越小越靠前：</label>
                <div class="col-sm-8">
                    <input name="sortNum" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">申请者公司ID：</label>
                <div class="col-sm-8">
                    <input name="applicantCompanyId" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">申请者部门ID：</label>
                <div class="col-sm-8">
                    <input name="applicantDeptId" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">申请者岗位IDS：</label>
                <div class="col-sm-8">
                    <input name="applicantPostIds" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">申请者公司名称：</label>
                <div class="col-sm-8">
                    <textarea name="applicantCompanyName" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">申请者部门名称：</label>
                <div class="col-sm-8">
                    <textarea name="applicantDeptName" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">申请者岗位名称：</label>
                <div class="col-sm-8">
                    <textarea name="applicantPostName" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">申请者id：</label>
                <div class="col-sm-8">
                    <input name="applicantId" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">申请者头像：</label>
                <div class="col-sm-8">
                    <textarea name="applicantrHeadPortrait" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">申请者昵称：</label>
                <div class="col-sm-8">
                    <input name="applicantNickName" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">现在的自己图片：</label>
                <div class="col-sm-8">
                    <textarea name="nowMyselfImg" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">自我介绍图片：</label>
                <div class="col-sm-8">
                    <textarea name="selfIntroductionImg" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">理想的自己图片：</label>
                <div class="col-sm-8">
                    <textarea name="idealSelfImg" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">自我介绍：</label>
                <div class="col-sm-8">
                    <textarea name="selfIntroduction" class="form-control"></textarea>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
<script th:inline="javascript">
    var prefix = ctx + "web/targetTrainingRecord"
    $("#form-targetTrainingRecord-add").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/add", $('#form-targetTrainingRecord-add').serialize());
        }
    }
</script>
</body>
</html>