<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wlwq.api.mapper.CounsellingExecutionCategoryMapper">

    <resultMap type="CounsellingExecutionCategory" id="CounsellingExecutionCategoryResult">
        <result property="counsellingExecutionCategoryId" column="counselling_execution_category_id"/>
        <result property="categoryName" column="category_name"/>
        <result property="createTime" column="create_time"/>
        <result property="sortNum" column="sort_num"/>
        <result property="delStatus" column="del_status"/>
        <result property="description" column="description"/>
        <result property="showStatus" column="show_status"/>
    </resultMap>

    <sql id="selectCounsellingExecutionCategoryVo">
        select counselling_execution_category_id, category_name, create_time, sort_num, del_status, description, show_status
        from counselling_execution_category
    </sql>

    <select id="selectCounsellingExecutionCategoryList" parameterType="CounsellingExecutionCategory"
            resultMap="CounsellingExecutionCategoryResult">
        <include refid="selectCounsellingExecutionCategoryVo"/>
        <where>
            del_status = 0
            <if test="categoryName != null  and categoryName != ''">and category_name like concat('%', #{categoryName},
                '%')
            </if>
            <if test="sortNum != null ">and sort_num = #{sortNum}</if>
            <if test="delStatus != null ">and del_status = #{delStatus}</if>
            <if test="description != null  and description != ''">and description = #{description}</if>
            <if test="showStatus != null ">and show_status = #{showStatus}</if>
        </where>
        order by sort_num asc
    </select>

    <select id="selectCounsellingExecutionCategoryById" parameterType="String"
            resultMap="CounsellingExecutionCategoryResult">
        <include refid="selectCounsellingExecutionCategoryVo"/>
        where counselling_execution_category_id = #{counsellingExecutionCategoryId}
    </select>

    <insert id="insertCounsellingExecutionCategory" parameterType="CounsellingExecutionCategory">
        insert into counselling_execution_category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="counsellingExecutionCategoryId != null">counselling_execution_category_id,</if>
            <if test="categoryName != null and categoryName != ''">category_name,</if>
            <if test="createTime != null">create_time,</if>
            <if test="sortNum != null">sort_num,</if>
            <if test="delStatus != null">del_status,</if>
            <if test="description != null">description,</if>
            <if test="showStatus != null">show_status,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="counsellingExecutionCategoryId != null">#{counsellingExecutionCategoryId},</if>
            <if test="categoryName != null and categoryName != ''">#{categoryName},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="sortNum != null">#{sortNum},</if>
            <if test="delStatus != null">#{delStatus},</if>
            <if test="description != null">#{description},</if>
            <if test="showStatus != null">#{showStatus},</if>
        </trim>
    </insert>

    <update id="updateCounsellingExecutionCategory" parameterType="CounsellingExecutionCategory">
        update counselling_execution_category
        <trim prefix="SET" suffixOverrides=",">
            <if test="categoryName != null and categoryName != ''">category_name = #{categoryName},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="sortNum != null">sort_num = #{sortNum},</if>
            <if test="delStatus != null">del_status = #{delStatus},</if>
            <if test="description != null">description = #{description},</if>
            <if test="showStatus != null">show_status = #{showStatus},</if>
        </trim>
        where counselling_execution_category_id = #{counsellingExecutionCategoryId}
    </update>
    <update id="deleteCounsellingExecutionCategoryById" parameterType="String">
        update counselling_execution_category set del_status = 1 where counselling_execution_category_id = #{counsellingExecutionCategoryId}
    </update>

    <update id="deleteCounsellingExecutionCategoryByIds" parameterType="String">
        update counselling_execution_category set del_status = 1 where counselling_execution_category_id in
        <foreach item="counsellingExecutionCategoryId" collection="array" open="(" separator="," close=")">
            #{counsellingExecutionCategoryId}
        </foreach>
    </update>
<!--    <delete id="deleteCounsellingExecutionCategoryById" parameterType="String">
        delete from counselling_execution_category where counselling_execution_category_id = #{counsellingExecutionCategoryId}
    </delete>

    <delete id="deleteCounsellingExecutionCategoryByIds" parameterType="String">
        delete from counselling_execution_category where counselling_execution_category_id in
        <foreach item="counsellingExecutionCategoryId" collection="array" open="(" separator="," close=")">
            #{counsellingExecutionCategoryId}
        </foreach>
    </delete>-->

</mapper>