<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wlwq.api.mapper.NewsCenterCategoryMapper">

    <resultMap type="NewsCenterCategory" id="NewsCenterCategoryResult">
        <result property="newsCenterCategoryId" column="news_center_category_id"/>
        <result property="deptId" column="dept_id"/>
        <result property="userId" column="user_id"/>
        <result property="parentId" column="parent_id"/>
        <result property="newsCenterCategoryTitle" column="news_center_category_title"/>
        <result property="sortNum" column="sort_num"/>
        <result property="delStatus" column="del_status"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="parentName" column="parent_name"/>
    </resultMap>

    <sql id="selectNewsCenterCategoryVo">
        select news_center_category_id, dept_id, user_id, parent_id, news_center_category_title,
            sort_num, del_status, create_time, update_time
        from news_center_category
    </sql>
    <sql id="selectInformationCategory">
        select c.news_center_category_id,
               c.dept_id,
               c.user_id,
               c.parent_id,
               c.news_center_category_title,
               c.sort_num,
               c.del_status,
               c.create_time,
               c.update_time
        from news_center_category c left join sys_dept d on c.dept_id = d.dept_id
        left join sys_user u on c.user_id = u.user_id
    </sql>
    <select id="selectNewsCenterCategoryVoList" parameterType="NewsCenterCategory" resultMap="NewsCenterCategoryResult">
        <include refid="selectNewsCenterCategoryVo"/>
        <where>
            del_status = 0
            <!--<if test="deptId != null ">and dept_id = #{deptId}</if>-->
            <if test="deptId == null ">and (dept_id = 100)</if>
            <if test="deptId != null ">and (dept_id = #{deptId} or dept_id = 100)</if>
            <if test="userId != null ">and user_id = #{userId}</if>
            <if test="parentId != null">and parent_id = #{parentId}</if>
            <if test="tag == 0">and parent_id != 0</if>
            <if test="newsCenterCategoryTitle != null  and newsCenterCategoryTitle != ''">and news_center_category_title
                like concat('%', #{newsCenterCategoryTitle}, '%')
            </if>
            <if test="sortNum != null ">and sort_num = #{sortNum}</if>
            <if test="delStatus != null ">and del_status = #{delStatus}</if>
        </where>
    </select>

    <select id="selectNewsCenterCategoryList" parameterType="NewsCenterCategory" resultMap="NewsCenterCategoryResult">
        <include refid="selectInformationCategory"/>
        <where>
            del_status = 0
            <if test="deptId != null ">and c.dept_id = #{deptId}</if>
            <if test="parentId != null ">and c.parent_id = #{parentId}</if>
            <if test="newsCenterCategoryTitle != null  and newsCenterCategoryTitle != ''">and c.news_center_category_title
                like concat('%', #{newsCenterCategoryTitle}, '%')
            </if>
            <if test="sortNum != null ">and c.sort_num = #{sortNum}</if>
            <if test="delStatus != null ">and c.del_status = #{delStatus}</if>
        </where>
        ${params.dataScope}
    </select>

    <select id="selectNewsCenterCategoryById" parameterType="Long" resultMap="NewsCenterCategoryResult">
        select
            t.news_center_category_id,
            t.parent_id,
            t.dept_id,
            t.user_id,
            t.news_center_category_title,
            t.sort_num,
            t.del_status,
            t.create_time,
            t.update_time,
            p.news_center_category_title as parent_name
        from news_center_category t
                     left join news_center_category p on p.news_center_category_id = t.parent_id
        where t.news_center_category_id = #{newsCenterCategoryId}
    </select>

    <insert id="insertNewsCenterCategory" parameterType="NewsCenterCategory" useGeneratedKeys="true"
            keyProperty="newsCenterCategoryId">
        insert into news_center_category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deptId != null">dept_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="parentId != null">parent_id,</if>
            <if test="newsCenterCategoryTitle != null and newsCenterCategoryTitle != ''">news_center_category_title,
            </if>
            <if test="sortNum != null">sort_num,</if>
            <if test="delStatus != null">del_status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deptId != null">#{deptId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="parentId != null">#{parentId},</if>
            <if test="newsCenterCategoryTitle != null and newsCenterCategoryTitle != ''">#{newsCenterCategoryTitle},
            </if>
            <if test="sortNum != null">#{sortNum},</if>
            <if test="delStatus != null">#{delStatus},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateNewsCenterCategory" parameterType="NewsCenterCategory">
        update news_center_category
        <trim prefix="SET" suffixOverrides=",">
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="newsCenterCategoryTitle != null and newsCenterCategoryTitle != ''">news_center_category_title =
                #{newsCenterCategoryTitle},
            </if>
            <if test="sortNum != null">sort_num = #{sortNum},</if>
            <if test="delStatus != null">del_status = #{delStatus},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where news_center_category_id = #{newsCenterCategoryId}
    </update>

    <update id="deleteNewsCenterCategoryById" parameterType="Long">
        update news_center_category set del_status = 1 where news_center_category_id = #{newsCenterCategoryId}
    </update>

    <update id="deleteNewsCenterCategoryByIds" parameterType="String">
        update news_center_category set del_status = 1 where news_center_category_id in
        <foreach item="newsCenterCategoryId" collection="array" open="(" separator="," close=")">
            #{newsCenterCategoryId}
        </foreach>
    </update>
    <!--    <delete id="deleteNewsCenterCategoryById" parameterType="Long">
            delete from news_center_category where news_center_category_id = #{newsCenterCategoryId}
        </delete>

        <delete id="deleteNewsCenterCategoryByIds" parameterType="String">
            delete from news_center_category where news_center_category_id in
            <foreach item="newsCenterCategoryId" collection="array" open="(" separator="," close=")">
                #{newsCenterCategoryId}
            </foreach>
        </delete>-->

</mapper>