<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wlwq.api.mapper.SixStructuresReadRecordMapper">

    <resultMap type="SixStructuresReadRecord" id="SixStructuresReadRecordResult">
        <result property="sixStructuresReadRecordId" column="six_structures_read_record_id"/>
        <result property="sixStructuresId" column="six_structures_id"/>
        <result property="templateType" column="template_type"/>
        <result property="content" column="content"/>
        <result property="accountId" column="account_id"/>
        <result property="postIds" column="post_ids"/>
        <result property="deptId" column="dept_id"/>
        <result property="accountName" column="account_name"/>
        <result property="accountPhone" column="account_phone"/>
        <result property="accountHead" column="account_head"/>
        <result property="companyId" column="company_id"/>
        <result property="delStatus" column="del_status"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="oneStoreClassId" column="one_store_class_id"/>
        <result property="twoStoreClassId" column="two_store_class_id"/>
        <result property="threeStoreClassId" column="three_store_class_id"/>
    </resultMap>

    <sql id="selectSixStructuresReadRecordVo">
        select six_structures_read_record_id, six_structures_id, template_type, content, account_id, post_ids, dept_id, account_name, account_phone, account_head, company_id, del_status, create_time, update_time, one_store_class_id, two_store_class_id, three_store_class_id from six_structures_read_record
    </sql>

    <select id="selectSixStructuresReadRecordList" parameterType="SixStructuresReadRecord"
            resultMap="SixStructuresReadRecordResult">
        <include refid="selectSixStructuresReadRecordVo"/>
        <where>
            <if test="sixStructuresId != null  and sixStructuresId != ''">and six_structures_id = #{sixStructuresId}
            </if>
            <if test="templateType != null ">and template_type = #{templateType}</if>
            <if test="content != null  and content != ''">and content = #{content}</if>
            <if test="accountId != null  and accountId != ''">and account_id = #{accountId}</if>
            <if test="postIds != null  and postIds != ''">and post_ids = #{postIds}</if>
            <if test="deptId != null ">and dept_id = #{deptId}</if>
            <if test="accountName != null  and accountName != ''">and account_name like concat('%', #{accountName},
                '%')
            </if>
            <if test="accountPhone != null  and accountPhone != ''">and account_phone = #{accountPhone}</if>
            <if test="accountHead != null  and accountHead != ''">and account_head = #{accountHead}</if>
            <if test="companyId != null ">and company_id = #{companyId}</if>
            <if test="delStatus != null ">and del_status = #{delStatus}</if>
            <if test="oneStoreClassId != null  and oneStoreClassId != ''">and one_store_class_id = #{oneStoreClassId}
            </if>
            <if test="twoStoreClassId != null  and twoStoreClassId != ''">and two_store_class_id = #{twoStoreClassId}
            </if>
            <if test="threeStoreClassId != null  and threeStoreClassId != ''">and three_store_class_id =
                #{threeStoreClassId}
            </if>
        </where>
    </select>

    <select id="selectSixStructuresReadRecordById" parameterType="String" resultMap="SixStructuresReadRecordResult">
        <include refid="selectSixStructuresReadRecordVo"/>
        where six_structures_read_record_id = #{sixStructuresReadRecordId}
    </select>
    <!--    查询已读数量-->
    <select id="selectSixStructuresReadRecordCount" resultType="java.lang.Integer">
        select count(*) from six_structures_read_record
        <where>
            <if test="sixStructuresId != null  and sixStructuresId != ''">and six_structures_id = #{sixStructuresId}
            </if>
            <if test="templateType != null ">and template_type = #{templateType}</if>
            <if test="content != null  and content != ''">and content = #{content}</if>
            <if test="accountId != null  and accountId != ''">and account_id = #{accountId}</if>
            <if test="postIds != null  and postIds != ''">and post_ids = #{postIds}</if>
            <if test="deptId != null ">and dept_id = #{deptId}</if>
            <if test="accountName != null  and accountName != ''">and account_name like concat('%', #{accountName},
                '%')
            </if>
            <if test="accountPhone != null  and accountPhone != ''">and account_phone = #{accountPhone}</if>
            <if test="accountHead != null  and accountHead != ''">and account_head = #{accountHead}</if>
            <if test="companyId != null ">and company_id = #{companyId}</if>
            <if test="delStatus != null ">and del_status = #{delStatus}</if>
            <if test="oneStoreClassId != null  and oneStoreClassId != ''">and one_store_class_id = #{oneStoreClassId}
            </if>
            <if test="twoStoreClassId != null  and twoStoreClassId != ''">and two_store_class_id = #{twoStoreClassId}
            </if>
            <if test="threeStoreClassId != null  and threeStoreClassId != ''">and three_store_class_id =
                #{threeStoreClassId}
            </if>
        </where>
    </select>
    <!--    只查询一条记录-->
    <select id="selectSixStructuresReadRecord" parameterType="SixStructuresReadRecord"
            resultMap="SixStructuresReadRecordResult">
        <include refid="selectSixStructuresReadRecordVo"/>
        <where>
            <if test="sixStructuresId != null  and sixStructuresId != ''">and six_structures_id = #{sixStructuresId}
            </if>
            <if test="templateType != null ">and template_type = #{templateType}</if>
            <if test="content != null  and content != ''">and content = #{content}</if>
            <if test="accountId != null  and accountId != ''">and account_id = #{accountId}</if>
            <if test="postIds != null  and postIds != ''">and post_ids = #{postIds}</if>
            <if test="deptId != null ">and dept_id = #{deptId}</if>
            <if test="accountName != null  and accountName != ''">and account_name like concat('%', #{accountName},
                '%')
            </if>
            <if test="accountPhone != null  and accountPhone != ''">and account_phone = #{accountPhone}</if>
            <if test="accountHead != null  and accountHead != ''">and account_head = #{accountHead}</if>
            <if test="companyId != null ">and company_id = #{companyId}</if>
            <if test="delStatus != null ">and del_status = #{delStatus}</if>
            <if test="oneStoreClassId != null  and oneStoreClassId != ''">and one_store_class_id = #{oneStoreClassId}
            </if>
            <if test="twoStoreClassId != null  and twoStoreClassId != ''">and two_store_class_id = #{twoStoreClassId}
            </if>
            <if test="threeStoreClassId != null  and threeStoreClassId != ''">and three_store_class_id =
                #{threeStoreClassId}
            </if>
        </where>
        limit 1
    </select>
    <!--    app查询已读数量-->
    <select id="selectSixStructuresReadRecordCountByClassIds" resultType="java.util.Map">
        SELECT three_store_class_id, COUNT(*) AS count
        FROM six_structures_read_record
        WHERE account_id = #{accountId} AND company_id = #{companyId} AND three_store_class_id IN (#{classIds})
        GROUP BY three_store_class_id
    </select>

    <insert id="insertSixStructuresReadRecord" parameterType="SixStructuresReadRecord">
        insert into six_structures_read_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sixStructuresReadRecordId != null">six_structures_read_record_id,</if>
            <if test="sixStructuresId != null">six_structures_id,</if>
            <if test="templateType != null">template_type,</if>
            <if test="content != null">content,</if>
            <if test="accountId != null">account_id,</if>
            <if test="postIds != null">post_ids,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="accountName != null">account_name,</if>
            <if test="accountPhone != null">account_phone,</if>
            <if test="accountHead != null">account_head,</if>
            <if test="companyId != null">company_id,</if>
            <if test="delStatus != null">del_status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="oneStoreClassId != null">one_store_class_id,</if>
            <if test="twoStoreClassId != null">two_store_class_id,</if>
            <if test="threeStoreClassId != null">three_store_class_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sixStructuresReadRecordId != null">#{sixStructuresReadRecordId},</if>
            <if test="sixStructuresId != null">#{sixStructuresId},</if>
            <if test="templateType != null">#{templateType},</if>
            <if test="content != null">#{content},</if>
            <if test="accountId != null">#{accountId},</if>
            <if test="postIds != null">#{postIds},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="accountName != null">#{accountName},</if>
            <if test="accountPhone != null">#{accountPhone},</if>
            <if test="accountHead != null">#{accountHead},</if>
            <if test="companyId != null">#{companyId},</if>
            <if test="delStatus != null">#{delStatus},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="oneStoreClassId != null">#{oneStoreClassId},</if>
            <if test="twoStoreClassId != null">#{twoStoreClassId},</if>
            <if test="threeStoreClassId != null">#{threeStoreClassId},</if>
        </trim>
    </insert>

    <update id="updateSixStructuresReadRecord" parameterType="SixStructuresReadRecord">
        update six_structures_read_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="sixStructuresId != null">six_structures_id = #{sixStructuresId},</if>
            <if test="templateType != null">template_type = #{templateType},</if>
            <if test="content != null">content = #{content},</if>
            <if test="accountId != null">account_id = #{accountId},</if>
            <if test="postIds != null">post_ids = #{postIds},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="accountName != null">account_name = #{accountName},</if>
            <if test="accountPhone != null">account_phone = #{accountPhone},</if>
            <if test="accountHead != null">account_head = #{accountHead},</if>
            <if test="companyId != null">company_id = #{companyId},</if>
            <if test="delStatus != null">del_status = #{delStatus},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="oneStoreClassId != null">one_store_class_id = #{oneStoreClassId},</if>
            <if test="twoStoreClassId != null">two_store_class_id = #{twoStoreClassId},</if>
            <if test="threeStoreClassId != null">three_store_class_id = #{threeStoreClassId},</if>
        </trim>
        where six_structures_read_record_id = #{sixStructuresReadRecordId}
    </update>

    <delete id="deleteSixStructuresReadRecordById" parameterType="String">
        delete from six_structures_read_record where six_structures_read_record_id = #{sixStructuresReadRecordId}
    </delete>

    <delete id="deleteSixStructuresReadRecordByIds" parameterType="String">
        delete from six_structures_read_record where six_structures_read_record_id in
        <foreach item="sixStructuresReadRecordId" collection="array" open="(" separator="," close=")">
            #{sixStructuresReadRecordId}
        </foreach>
    </delete>
    <!--    删除已读的记录-->
    <delete id="deleteSixStructuresReadRecord" parameterType="SixStructuresReadRecord">
        delete from six_structures_read_record where find_in_set(six_structures_read_record_id,#{sixStructuresId})
    </delete>

</mapper>