<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('理论体系类目列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <label>分类名字：</label>
                            <input type="text" name="categoryName"/>
                        </li>
                        <li>
                            <label>是否显示：</label>
                            <select name="showStatus" class="form-control m-b">
                                <option value="">所有</option>
                                <option value="0">不显示</option>
                                <option value="1">显示</option>
                            </select>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.add()"
               shiro:hasPermission="web:counsellingTheoreticalCategory:add">
                <i class="fa fa-plus"></i> 添加
            </a>
            <a class="btn btn-primary single disabled" onclick="$.operate.edit()"
               shiro:hasPermission="web:counsellingTheoreticalCategory:edit">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()"
               shiro:hasPermission="web:counsellingTheoreticalCategory:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('web:counsellingTheoreticalCategory:edit')}]];
    var removeFlag = [[${@permission.hasPermi('web:counsellingTheoreticalCategory:remove')}]];
    var theoreticalPostFlag = [[${@permission.hasPermi('web:counsellingTheoreticalPost:view')}]];
    var prefix = ctx + "web/counsellingTheoreticalCategory";

    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "理论体系类目",
            columns: [{
                checkbox: true
            },
                {
                    field: 'counsellingTheoreticalCategoryId',
                    title: '分类ID',
                    visible: false
                },
                {
                    field: 'categoryName',
                    align: 'center',
                    title: '分类名字'
                },
                {
                    field: 'sortNum',
                    align: 'center',
                    title: '排序'
                },
                {
                    field: 'description',
                    align: 'center',
                    title: '描述',
                    formatter: function (value, row, index) {
                        return $.table.tooltip(value);
                    }
                },
                {
                    field: 'showStatus',
                    title: '显示状态',
                    align: 'left',
                    sortable: false,
                    formatter: function (value, row, index) {
                        return statusTools(row);
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + theoreticalPostFlag + '" href="javascript:void(0)" onclick="theoreticalPost(\'' + row.counsellingTheoreticalCategoryId + '\')"><i class="fa fa-edit"></i>咨询管理</a> ');
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.counsellingTheoreticalCategoryId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.counsellingTheoreticalCategoryId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });
    function theoreticalPost(counsellingTheoreticalCategoryId) {
        $.modal.openFull("理论体系资讯列表", ctx + "web/counsellingTheoreticalPost?counsellingTheoreticalCategoryId=" + counsellingTheoreticalCategoryId);
    }
    //显示不显示
    function statusTools(row) {
        // 显示
        if (row.showStatus == 1) {
            return '<i class=\"fa fa-toggle-on text-info fa-2x\" onclick="disable(\'' + row.counsellingTheoreticalCategoryId + '\',0)"></i> ';
        } else {
            return '<i class=\"fa fa-toggle-off text-info fa-2x\" onclick="enable(\'' + row.counsellingTheoreticalCategoryId + '\',1)"></i> ';
        }
    }

    function disable(counsellingTheoreticalCategoryId) {
        $.modal.confirm("确认要隐藏吗？", function () {
            $.operate.post(prefix + "/edit", {"counsellingTheoreticalCategoryId": counsellingTheoreticalCategoryId, "showStatus": 0});
        })
    }

    function enable(counsellingTheoreticalCategoryId) {
        $.modal.confirm("确认要显示吗？", function () {
            $.operate.post(prefix + "/edit", {"counsellingTheoreticalCategoryId": counsellingTheoreticalCategoryId, "showStatus": 1});
        })
    }

</script>
</body>
</html>