<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('人员训练模块列表')"/>
    <th:block th:include="include :: select2-css"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <label>标题名称：</label>
                            <input type="text" name="titleName"/>
                        </li>
                        <li>
                            <label>副标题名称：</label>
                            <input type="text" name="subheadName"/>
                        </li>
                        <li>
                            <label>是否显示：</label>
                            <select name="showStatus" class="form-control m-b">
                                <option value="">所有</option>
                                <option value="0">不显示</option>
                                <option value="1">显示</option>
                            </select>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="web:trainingModule:add">
                <i class="fa fa-plus"></i> 添加
            </a>
            <a class="btn btn-primary single disabled" onclick="$.operate.edit()"
               shiro:hasPermission="web:trainingModule:edit">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()"
               shiro:hasPermission="web:trainingModule:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="web:trainingModule:export">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
        <div class="enlarge_box" style="cursor:pointer;">
            <img id="enlarge_box_img" alt="" name="pic" src="" style="z-index: 99;">
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: select2-js"/>
<script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('web:trainingModule:edit')}]];
        var removeFlag = [[${@permission.hasPermi('web:trainingModule:remove')}]];
        var prefix = ctx + "web/trainingModule";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "人员训练模块",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'trainingModuleId',
                    title: '人员训练模块ID',
                    visible: false
                },
                {
                    field: 'titleName',
                    align: 'center',
                    title: '标题名称'
                },
                {
                    field: 'subheadName',
                    align: 'center',
                    title: '副标题名称'
                },
                {
                    field: 'moduleIcon',
                    align: 'center',
                    title: '模块图标',
                     formatter: function (value, row, index) {
                        if (value != null && value != "") {
                            var html = '<img class="img-clouds" onclick="clouds(this)" src=' + replaceSpace(value) + ' style=" width:50px; height:50px;"> ';
                            return html;
                        } else {
                            return "";
                        }
                    }
                },
                 {
                    field: 'moduleImage',
                    align: 'center',
                    title: '详情背景图',
                     formatter: function (value, row, index) {
                        if (value != null && value != "") {
                            var html = '<img class="img-clouds" onclick="clouds(this)" src=' + replaceSpace(value) + ' style=" width:50px; height:50px;"> ';
                            return html;
                        } else {
                            return "";
                        }
                    }
                },
                {
                    field: 'sortNum',
                    align: 'center',
                    title: '排序(正序)'
                },
                 {
                    field: 'showStatus',
                    title: '显示状态',
                    align: 'center',
                    sortable: false,
                    formatter: function (value, row, index) {
                        return statusTools(row);
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.trainingModuleId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.trainingModuleId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });

 //显示不显示
    function statusTools(row) {
        // 显示
        if (row.showStatus == 1) {
            return '<i class=\"fa fa-toggle-on text-info fa-2x\" onclick="disable(\'' + row.trainingModuleId + '\',0)"></i> ';
        } else {
            return '<i class=\"fa fa-toggle-off text-info fa-2x\" onclick="enable(\'' + row.trainingModuleId + '\',1)"></i> ';
        }
    }

    function disable(trainingModuleId) {
        $.modal.confirm("确认要隐藏吗？", function () {
            $.operate.post(prefix + "/edit", {"trainingModuleId": trainingModuleId, "showStatus": 0});
        })
    }

    function enable(trainingModuleId) {
        $.modal.confirm("确认要显示吗？", function () {
            $.operate.post(prefix + "/edit", {"trainingModuleId": trainingModuleId, "showStatus": 1});
        })
    }


    // 放大和隐藏图片
    function clouds(that) {
        $('.enlarge_box').show();
        let img_src = $(that).attr('src');
        let $preview = $('#enlarge_box_img').attr('src')
        if ($preview != img_src) {
            $('#enlarge_box_img').attr('src', img_src)
        }
        //获取图片大小
        let widthHtml = $('#enlarge_box_img').width();
        let heightHtml = $('#enlarge_box_img').height();
        let a_widthHtml = '-' + widthHtml / 2;
        let a_heightHtml = '-' + heightHtml / 2;
        //图片宽高比例
        let proportion = widthHtml / heightHtml;

        //获取浏览器可视区域大小
        let windowsWidth = $(window).width();
        let windowsHeight = $(window).height();
        let a_windowsWidth = windowsWidth * 0.8;
        let a_windowsHeight = windowsHeight * 0.8;
        let b_windowsWidth = '-' + a_windowsWidth / 2;
        let b_windowsHeight = "-" + a_windowsHeight / 2
        let a = "-" + proportion * a_windowsHeight / 2;

        if (widthHtml > a_windowsWidth || heightHtml > a_windowsHeight) {
            $('#enlarge_box_img').css({
                'height': a_windowsHeight + 'px',
                'position': 'fixed',
                'display': 'block',
                'left': 50 + '%',
                'margin-left': a + 'px',
                'top': 50 + '%',
                'margin-top': b_windowsHeight + 'px',
                'z-index': 9999,
            })
        } else {
            $('#enlarge_box_img').css({
                'position': 'fixed',
                'display': 'block',
                'left': 50 + '%',
                'margin-left': a_widthHtml + 'px',
                'top': 50 + '%',
                'margin-top': a_heightHtml + 'px',
                'z-index': 9999,
            })
        }
    }

    //点击放大后的图片隐藏
    $('.enlarge_box').click(function () {
        $('.enlarge_box').hide();
        $('#enlarge_box_img').attr('src', '')
        $('#enlarge_box_img').removeAttr("style")
    });

    function replaceSpace(value) {
        return value.replace(/ /g, '%20');
    }
</script>
</body>
</html>