<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('考试记录列表列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <label>昵称：</label>
                            <input type="text" name="nickName"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
<!--            <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="web:examRecord:add">
                <i class="fa fa-plus"></i> 添加
            </a>-->
<!--            <a class="btn btn-primary single disabled" onclick="$.operate.edit()"-->
<!--               shiro:hasPermission="web:examRecord:edit">-->
<!--                <i class="fa fa-edit"></i> 修改-->
<!--            </a>-->
<!--            <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()"
               shiro:hasPermission="web:examRecord:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="web:examRecord:export">
                <i class="fa fa-download"></i> 导出
            </a>-->
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('web:examRecord:edit')}]];
    var removeFlag = [[${@permission.hasPermi('web:examRecord:remove')}]];
    var examQuestionRecordFlag = [[${@permission.hasPermi('web:examQuestionRecord:view')}]];
    var prefix = ctx + "web/examRecord";

    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "考试记录列表",
            columns: [{
                checkbox: true
            },
                {
                    field: 'examRecordId',
                    title: '考试记录表id',
                    visible: false
                },
                {
                    field: 'nickName',
                    align: 'center',
                    title: '昵称'
                },
                {
                    field: 'headPortrait',
                    align: 'center',
                    title: '头像',
                    formatter: function (value, row, index) {
                        return $.table.imageView(value);
                    }
                },
                {
                    field: 'beginTime',
                    align: 'center',
                    title: '考试开始时间'
                },
                {
                    field: 'endTime',
                    align: 'center',
                    title: '考试结束时间'
                },
                {
                    field: 'score',
                    align: 'center',
                    title: '分数'
                },
                {
                    field: 'createTime',
                    align: 'center',
                    title: '创建时间'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' +examQuestionRecordFlag+ '" href="javascript:void(0)" onclick="setChapter(\'' + row.examRecordId + '\')"><i class="fa fa-edit"></i>查看答题记录</a> ');
                        if(row.scoreStatus == 0){
                            actions.push('<a class="btn btn-success btn-xs ' +editFlag+ '" href="javascript:void(0)" onclick="setScore(\'' + row.examRecordId + '\')"><i class="fa fa-edit"></i>考试打分</a> ');
                        }
                        //actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.examRecordId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });
    function setChapter(examRecordId) {
        $.modal.openFull("考试答题记录列表", ctx + "web/examQuestionRecord?examRecordId=" + examRecordId);
    }
    function setScore(examRecordId) {
        $.operate.post(prefix + "/editRecord",{"examRecordId": examRecordId},function(){
            alert("打分成功");
        });
    }
</script>
</body>
</html>