<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('支付配置2.0版列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <label>APP_ID：</label>
                            <input type="text" name="appId"/>
                        </li>
                        <li>
                            <label>应用名字：</label>
                            <input type="text" name="applicationName"/>
                        </li>
                        <li>
                            <label>支付平台：</label>
                            <select name="payPlatform" th:with="type=${@dict.getType('pay_platform')}">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                        th:value="${dict.dictValue}"></option>
                            </select>
                        </li>
                        <li>
                            <label>支付方式：</label>
                            <select name="payType" th:with="type=${@dict.getType('pay_type')}">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                        th:value="${dict.dictValue}"></option>
                            </select>
                        </li>
                        <li>
                            <label>是否启用：</label>
                            <select name="startStatus" th:with="type=${@dict.getType('start_status')}">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}"
                                        th:value="${dict.dictValue}"></option>
                            </select>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="pay:payConfig:add">
                <i class="fa fa-plus"></i> 添加
            </a>
            <a class="btn btn-primary single disabled" onclick="$.operate.edit()"
               shiro:hasPermission="pay:payConfig:edit">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()"
               shiro:hasPermission="pay:payConfig:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="pay:payConfig:export">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('pay:payConfig:edit')}]];
    var removeFlag = [[${@permission.hasPermi('pay:payConfig:remove')}]];
    var payPlatformDatas = [[${@dict.getType('pay_platform')}]];
    var payTypeDatas = [[${@dict.getType('pay_type')}]];
    var startStatusDatas = [[${@dict.getType('start_status')}]];
    var prefix = ctx + "pay/payConfig";

    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "支付配置2.0版",
            columns: [{
                checkbox: true
            },
                {
                    field: 'payConfigId',
                    title: '支付配置ID'
                },
                {
                    field: 'startStatus',
                    title: '是否启用',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(startStatusDatas, value);
                    }
                },
                {
                    field: 'applicationName',
                    title: '应用名字'
                },
                {
                    field: 'payPlatform',
                    title: '支付平台',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(payPlatformDatas, value);
                    }
                },
                {
                    field: 'payType',
                    title: '支付方式',
                    formatter: function (value, row, index) {
                        return $.table.selectDictLabel(payTypeDatas, value);
                    }
                },
                {
                    field: 'appId',
                    title: 'APP_ID'
                },
                {
                    field: 'mchId',
                    title: '微信支付商户号'
                },
                // {
                //     field: 'appSecret',
                //     title: 'APP_SECRET'
                // },
                // {
                //     field: 'privateKey',
                //     title: '支付宝应用私钥'
                // },
                {
                    field: 'notifyUrl',
                    title: '支付回调地址'
                },
                {
                    field: 'certPath',
                    title: '支付宝应用公钥证书路径'
                },
                {
                    field: 'publicCertPath',
                    title: '支付宝公钥证书路径'
                },
                {
                    field: 'rootCertPath',
                    title: '支付宝根证书路径'
                },
                {
                    field: 'mchKey',
                    title: '微信支付商户秘钥'
                },
                // {
                //     field: 'subAppId',
                //     title: '服务商模式下的子商户公众账号ID'
                // },
                // {
                //     field: 'subMchId',
                //     title: '服务商模式下的子商户号'
                // },
                {
                    field: 'keyPath',
                    title: '微信支付证书的位置'
                },
                {
                    field: 'apiclientKey',
                    title: '微信支付apiclient_key.pem证书文件'
                },
                {
                    field: 'apiclientCert',
                    title: '微信支付apiclient_cert.pem证书文件'
                },
                {
                    field: 'apiV3Key',
                    title: 'apiV3秘钥值'
                },
                {
                    field: 'certSerialNo',
                    title: 'apiV3证书序列号值'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.payConfigId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.payConfigId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });
</script>
</body>
</html>