<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('问卷记录答案列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
<!--            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <input type="hidden" name="questionnaireRecordId" id="questionnaireRecordId"/>
                        <ul>
                            <li>
                                <label>问卷记录id：</label>
                                <input type="text" name="questionnaireRecordId"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>-->
            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="web:questionnaireRecordAnswer:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single" onclick="$.operate.edit()" shiro:hasPermission="web:questionnaireRecordAnswer:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple" onclick="$.operate.removeAll()" shiro:hasPermission="web:questionnaireRecordAnswer:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('web:questionnaireRecordAnswer:edit')}]];
        var removeFlag = [[${@permission.hasPermi('web:questionnaireRecordAnswer:remove')}]];
        var prefix = ctx + "web/questionnaireRecordAnswer";

        var questionnaireRecordId = [[${questionnaireRecordId}]];

        //$("#questionnaireRecordId").val(questionnaireRecordId);
        $(function() {
            var options = {
                url: prefix + "/listNew?questionnaireRecordId="+questionnaireRecordId,
                createUrl: prefix + "/add?questionnaireRecordId="+questionnaireRecordId,
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "问卷记录答案",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'questionnaireRecordAnswerId',
                    title: '问卷记录答题id',
                    visible: false
                },
                {
                    field: 'content',
                    align: 'center',
                    title: '答题内容'
                },
                {
                    field: 'score',
                    align: 'center',
                    title: '答题得分'
                },
                {
                    field: 'creatorName',
                    align: 'center',
                    title: '创建者名称'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.questionnaireRecordAnswerId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.questionnaireRecordAnswerId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>