<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('新闻中心列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>

                        <li>
                            <label>分类标题：</label>
                            <input type="text" name="newsCenterCategoryTitle"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.treeTable.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="web:newsCenterCategory:add">
                <i class="fa fa-plus"></i> 新增
            </a>
            <a class="btn btn-primary single " onclick="$.operate.edit()"
               shiro:hasPermission="web:newsCenterCategory:edit">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-info" id="expandAllBtn">
                <i class="fa fa-exchange"></i> 展开/折叠
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-tree-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var addFlag = [[${@permission.hasPermi('web:newsCenterCategory:add')}]];
    var editFlag = [[${@permission.hasPermi('web:newsCenterCategory:edit')}]];
    var removeFlag = [[${@permission.hasPermi('web:newsCenterCategory:remove')}]];
    var prefix = ctx + "web/newsCenterCategory";

    $(function () {
        var options = {
            code: "newsCenterCategoryId",
            parentCode: "parentId",
            expandColumn: "1",
            uniqueId: "newsCenterCategoryId",
            url: prefix + "/list",
            createUrl: prefix + "/add/{id}",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove/{id}",
            exportUrl: prefix + "/export",
            modalName: "新闻中心分类",
            columns: [{
                field: 'selectItem',
                radio: true
            },
/*                {
                    field: 'newsCenterCategoryId',
                    title: '新闻中心分类ID',
                    visible: false
                },*/
                {
                    field: 'newsCenterCategoryTitle',
                    align: 'center',
                    title: '分类标题',
                    sortable: false,
                    formatter: function (value, row, index) {
                        return $.table.tooltip(value);
                    }
                },
                {
                    field: 'sortNum',
                    align: 'center',
                    title: '排序',
                    sortable: false,
                    formatter: function (value, row, index) {
                        return $.table.tooltip(value);
                    }
                },

                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        if (row.parentId == 0 ) {
                            actions.push('<a class="btn btn-info btn-xs ' + addFlag + '" href="javascript:void(0)" onclick="$.operate.add(\'' + row.newsCenterCategoryId + '\')"><i class="fa fa-plus"></i>新增</a> ');
                        }
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.newsCenterCategoryId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.newsCenterCategoryId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
        };
        $.treeTable.init(options);
       // $.table.init(options);
    });
</script>
</body>
</html>