<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('修改资讯文章')"/>
    <th:block th:include="include :: bootstrap-fileinput-css"/>
    <th:block th:include="include :: summernote-css"/>
    <th:block th:include="include :: select2-css"/>
    <!--导入下面这三玩意-->
    <script th:src="@{/editor/jq.js}"></script>
    <script th:src="@{/editor/tinymce/tinymce.min.js}"></script>
    <script th:src="@{/editor/editor.js}"></script>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-informationPost-edit" th:object="${informationPost}">

        <input name="informationPostId" th:field="*{informationPostId}" type="hidden">
        <input name="informationCategoryId" type="hidden" th:field="*{informationCategoryId}" id="treeId"/>


        <div class="form-group">
            <label class="col-sm-3 control-label is-required">排序：</label>
            <div class="col-sm-8">
                <input name="sortNum" th:field="*{sortNum}" class="form-control" type="number" required>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label is-required">资讯分类：</label>
            <div class="col-sm-8">
                <div class="input-group">
                    <input class="form-control" type="text" name="deptName" onclick="selectCategoryTree()" id="treeName"
                           th:field="*{informationCategoryTitle}">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label is-required">资讯标题：</label>
            <div class="col-sm-8">
                <input name="informationPostTitle" th:field="*{informationPostTitle}" class="form-control" type="text"
                       required>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">封面类型：</label>
            <div class="col-sm-8">
                <select name="informationPostImagesType" class="form-control m-b" th:field="*{informationPostImagesType}">
                    <option value="1">图片</option>
                    <option value="2">视频</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label is-required">封面图片：</label>
            <div class="col-sm-8">
                <input type="hidden" name="informationPostImages" th:field="*{informationPostImages}">
                <div class="file-loading">
                    <input class="form-control file-upload" id="informationPostImages" name="file" type="file">
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">封面图展示位置：</label>
            <div class="col-sm-8">
                <select name="imagesAddress" th:field="*{imagesAddress}" class="form-control m-b">
                    <option value="top">上</option>
                    <option value="bottom">下</option>
                    <option value="left">左</option>
                    <option value="right">右</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label is-required">基础浏览数量：</label>
            <div class="col-sm-8">
                <input name="basicsBrowseNumber" th:field="*{basicsBrowseNumber}" class="form-control" type="number"
                       required>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label is-required">基础点赞数量：</label>
            <div class="col-sm-8">
                <input name="basicsLikeNumber" th:field="*{basicsLikeNumber}" class="form-control" type="number"
                       required>
            </div>
        </div>

<!--        <div class="form-group">
            <label class="col-sm-3 control-label is-required">热门状态：</label>
            <div class="col-sm-8">
                <div class="radio check-box">
                    <label><input type="radio" checked value="1" name="hostStatus" th:field="*{hostStatus}">热门</label>
                </div>
                <div class="radio check-box">
                    <label><input type="radio" value="0" name="hostStatus" th:field="*{hostStatus}">普通</label>
                </div>
            </div>
        </div>-->

        <div class="form-group">
            <label class="col-sm-3 control-label is-required">置顶状态：</label>
            <div class="col-sm-8">
                <div class="radio check-box">
                    <label><input type="radio" checked value="1" name="topStatus" th:field="*{topStatus}">置顶</label>
                </div>
                <div class="radio check-box">
                    <label><input type="radio" value="0" name="topStatus" th:field="*{topStatus}">普通</label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">资讯文件：</label>
            <div class="col-sm-8">
                <input type="hidden" name="informationPostFile" th:field="*{informationPostFile}">
                <div class="file-loading">
                    <input class="form-control file-upload" id="informationPostFile" name="file" type="file">
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">资讯内容：</label>
            <div class="col-sm-8">
                <input id="informationPostContent" type="hidden" class="form-control" th:field="*{informationPostContent}">
                <form method="post">
                    <textarea id="one" style="visibility: inherit;"></textarea>
                </form>
            </div>
        </div>

    </form>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: bootstrap-fileinput-js"/>
<th:block th:include="include :: summernote-js"/>
<th:block th:include="include :: select2-js"/>
<script th:inline="javascript">

    window.onload = function () {
        //资讯内容
        setMytextareaIdName('one');
    }

    //资讯内容
    var informationPostContent = $("#informationPostContent").val();
    $("#one").val(informationPostContent);

    //资讯内容
    function GetTinyMceContentOne() {
        $("#informationPostContent").val(tinyMCE.activeEditor.getContent());
        //alert(tinyMCE.activeEditor.getContent())
    }

    var prefix = ctx + "information/informationPost";

    $("#form-informationPost-edit").validate({
        focusCleanup: true
    });

    function submitHandler() {
        GetTinyMceContentOne();
        if ($.validate.form()) {
            $.operate.save(prefix + "/edit", $('#form-informationPost-edit').serialize());
        }
    }

    function selectCategoryTree() {
        var treeId = $("#treeId").val();
        var informationCategoryId = $.common.isEmpty(treeId) ? "1" : $("#treeId").val();
        var url = ctx + "information/informationCategory/selectInformationCategoryTree/" + informationCategoryId;
        var options = {
            title: '选择分类',
            width: "380",
            url: url,
            callBack: doSubmit
        };
        $.modal.openOptions(options);
    }

    function doSubmit(index, layero) {
        var tree = layero.find("iframe")[0].contentWindow.$._tree;
        var body = layer.getChildFrame('body', index);
        $("#treeId").val(body.find('#treeId').val());
        $("#treeName").val(body.find('#treeName').val());
        layer.close(index);
    }

    $(".file-upload").each(function (i) {
        var val = $("input[name='" + this.id + "']").val()
        $(this).fileinput({
            'uploadUrl': ctx + 'app/upload',
            initialPreviewAsData: true,
            initialPreview: [val],
            maxFileCount: 1,
            autoReplace: true
        }).on('fileuploaded', function (event, data, previewId, index) {
            $("input[name='" + event.currentTarget.id + "']").val(data.response.message)
        }).on('fileremoved', function (event, id, index) {
            $("input[name='" + event.currentTarget.id + "']").val('')
        })
        $(this).fileinput('_initFileActions');
    });

    $(function () {
        $('.summernote').each(function (i) {
            $('#' + this.id).summernote({
                lang: 'zh-CN',
                callbacks: {
                    onChange: function (contents, $edittable) {
                        $("input[name='" + this.id + "']").val(contents);
                    },
                    onImageUpload: function (files) {
                        var obj = this;
                        var data = new FormData();
                        data.append("file", files[0]);
                        $.ajax({
                            type: "post",
                            url: ctx + "app/upload",
                            data: data,
                            cache: false,
                            contentType: false,
                            processData: false,
                            dataType: 'json',
                            success: function (result) {
                                if (result.status === "success") {
                                    $('#' + obj.id).summernote('insertImage', result.message);
                                } else {
                                    $.modal.alertError(result.message);
                                }
                            },
                            error: function (error) {
                                $.modal.alertWarning("图片上传失败。");
                            }
                        });
                    }
                }
            });
            var content = $("input[name='" + this.id + "']").val();
            $('#' + this.id).summernote('code', content);
        })
    });
</script>
</body>
</html>