<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('考试记录试题列表')"/>
    <th:block th:include="include :: select2-css"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <input name="examPaperRecordId" id="examPaperRecordId" type="hidden"/>
                        <li>
                            <p>类型</p>
                            <select name="questionStatus" class="form-control m-b">
                                <option value="">所有</option>
                                <option value="1">单项选择题</option>
                                <option value="2">多项选择题</option>
                                <option value="3">解答题</option>
                                <option value="4">判断题</option>
                            </select>
                        </li>
                        <li>
                            <p>难易程度：</p>
                            <select name="complexityStatus" class="form-control m-b">
                                <option value="">所有</option>
                                <option value="3">易</option>
                                <option value="2">中等</option>
                                <option value="1">难</option>
                            </select>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

<!--        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="web:examQuestionManager:add">
                <i class="fa fa-plus"></i> 添加
            </a>
            <a class="btn btn-primary single disabled" onclick="$.operate.edit()"
               shiro:hasPermission="web:examQuestionManager:edit">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()"
               shiro:hasPermission="web:examQuestionManager:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
            <a class="btn btn-warning" onclick="$.table.exportExcel()"
               shiro:hasPermission="web:examQuestionManager:export">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>-->
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: select2-js"/>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('web:examQuestionManager:edit')}]];
    var removeFlag = [[${@permission.hasPermi('web:examQuestionManager:remove')}]];
    var prefix = ctx + "web/examQuestionManager";

    var examPaperRecordId = [[${examPaperRecordId}]];
    $("#examPaperRecordId").val(examPaperRecordId);
    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "考试记录试题",
            columns: [{
                checkbox: true
            },
                {
                    field: 'examQuestionManagerId',
                    title: '主键id',
                    visible: false
                },
                {
                    field: 'questionStatus',
                    align: 'center',
                    title: '类型',
                    formatter: function (value, row, index) {
                        // 难易程度 1：难 2：中等 3：易
                        if (value == 1) {
                            return '<span class="label label-success">单项选择题</span>';
                        } else if (value == 2) {
                            return '<span class="label label-success">多项选择题</span>';
                        } else if (value == 3) {
                            return '<span class="label label-primary">解答题</span>';
                        }else if (value == 4) {
                            return '<span class="label label-primary">判断题</span>';
                        } else {
                            return '';
                        }
                    }
                },
                {
                    field: 'content',
                    align: 'center',
                    title: '内容'
                },
                {
                    field: 'analysis',
                    align: 'center',
                    title: '解析'
                },
                {
                    field: 'score',
                    align: 'center',
                    title: '分数'
                },
                {
                    field: 'complexityStatus',
                    align: 'center',
                    title: '难易程度',
                    formatter: function (value, row, index) {
                        // 难易程度 1：难 2：中等 3：易
                        if (value == 1) {
                            return '<span class="label label-success">难</span>';
                        } else if (value == 2) {
                            return '<span class="label label-success">中等</span>';
                        } else if (value == 3) {
                            return '<span class="label label-primary">易</span>';
                        } else {
                            return '';
                        }
                    }
                },
                {
                    field: 'sortNum',
                    align: 'center',
                    title: '排序'
                },
                {
                    field: 'optionA',
                    align: 'center',
                    title: '选项A'
                },
                {
                    field: 'optionB',
                    align: 'center',
                    title: '选项B'
                },
                {
                    field: 'optionC',
                    align: 'center',
                    title: '选项C'
                },
                {
                    field: 'optionD',
                    align: 'center',
                    title: '选项D'
                },
                {
                    field: 'optionE',
                    align: 'center',
                    title: '选项E'
                },
                {
                    field: 'optionF',
                    align: 'center',
                    title: '选项F'
                },
                {
                    field: 'answerStatus',
                    align: 'center',
                    title: '正确答案'
                },
                {
                    field: 'testTrainingCategoryTitle',
                    align: 'center',
                    title: '类别标题'
                },
                {
                    field: 'examPaperTitle',
                    align: 'center',
                    title: '试卷名称'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.examQuestionManagerId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.examQuestionManagerId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });
</script>
</body>
</html>