<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('测试训练类别列表')"/>
    <th:block th:include="include :: select2-css"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <label>类别标题：</label>
                            <input type="text" name="title"/>
                        </li>
                        <li>
                            <label>是否显示：</label>
                            <select name="showStatus" class="form-control m-b">
                                <option value="">所有</option>
                                <option value="0">不显示</option>
                                <option value="1">显示</option>
                            </select>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="web:testTrainingCategory:add">
                <i class="fa fa-plus"></i> 添加
            </a>
            <a class="btn btn-primary single disabled" onclick="$.operate.edit()"
               shiro:hasPermission="web:testTrainingCategory:edit">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()"
               shiro:hasPermission="web:testTrainingCategory:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
<!--            <a class="btn btn-warning" onclick="$.table.exportExcel()"
               shiro:hasPermission="web:testTrainingCategory:export">
                <i class="fa fa-download"></i> 导出
            </a>-->
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: select2-js"/>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('web:testTrainingCategory:edit')}]];
    var removeFlag = [[${@permission.hasPermi('web:testTrainingCategory:remove')}]];
    var prefix = ctx + "web/testTrainingCategory";

    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "测试训练类别",
            columns: [{
                checkbox: true
            },
                {
                    field: 'testTrainingCategoryId',
                    title: '测试训练类别ID',
                    visible: false
                },
                {
                    field: 'title',
                    align: 'center',
                    title: '类别标题',
                    formatter: function (value, row, index) {
                        return $.table.tooltip(value);
                    }
                },
                {
                    field: 'synopsis',
                    align: 'center',
                    title: '简介',
                    formatter: function (value, row, index) {
                        return $.table.tooltip(value);
                    }
                },
                {
                    field: 'sortNum',
                    align: 'center',
                    title: '排序',
                    formatter: function (value, row, index) {
                        return $.table.tooltip(value);
                    }
                },
                {
                    field: 'showStatus',
                    align: 'center',
                    title: '显示状态',
                    formatter: function (value, row, index) {
                        var categorys="showStatus";
                        return statusTools(row,categorys);
                    }
                },
/*                {
                    field: 'companyId',
                    align: 'center',
                    title: '公司ID'
                },
                {
                    field: 'deptId',
                    align: 'center',
                    title: '部门ID'
                },
                {
                    field: 'userId',
                    align: 'center',
                    title: '用户ID'
                },*/
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.testTrainingCategoryId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.testTrainingCategoryId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });
    //显示不显示
    function statusTools(row,categorys) {
        // 显示
        if (row.showStatus == 1) {
            return '<i class=\"fa fa-toggle-on text-info fa-2x\" onclick="disable(\'' + row.testTrainingCategoryId + '\',0,\''+categorys+'\')"></i> ';
        } else {
            return '<i class=\"fa fa-toggle-off text-info fa-2x\" onclick="enable(\'' + row.testTrainingCategoryId + '\',1,\''+categorys+'\')"></i> ';
        }
    }
    function disable(testTrainingCategoryId) {
        $.modal.confirm("确认要隐藏吗？", function () {
            $.operate.post(prefix + "/edit", {"testTrainingCategoryId": testTrainingCategoryId, "showStatus": 0});
        })
    }

    function enable(testTrainingCategoryId) {
        $.modal.confirm("确认要显示吗？", function () {
            $.operate.post(prefix + "/edit", {"testTrainingCategoryId": testTrainingCategoryId, "showStatus": 1});
        })
    }
</script>
</body>
</html>