<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('课程列表')"/>
    <th:block th:include="include :: layout-latest-css"/>
    <th:block th:include="include :: ztree-css"/>
    <th:block th:include="include :: select2-css" />
</head>
<body class="gray-bg">

<div class="ui-layout-west">
    <div class="box box-main">
        <div class="box-header">
            <div class="box-title">
                <i class="fa icon-grid"></i> 分类
            </div>
            <div class="box-tools pull-right">
                <a type="button" class="btn btn-box-tool" href="#" onclick="categorys()" title="管理分类"><i
                        class="fa fa-edit"></i></a>
                <button type="button" class="btn btn-box-tool" id="btnExpand" title="展开" style="display:none;"><i
                        class="fa fa-chevron-up"></i></button>
                <button type="button" class="btn btn-box-tool" id="btnCollapse" title="折叠"><i
                        class="fa fa-chevron-down"></i></button>
                <button type="button" class="btn btn-box-tool" id="btnRefresh" title="刷新部门"><i
                        class="fa fa-refresh"></i></button>
            </div>
        </div>
        <div class="ui-layout-content">
            <div id="tree" class="ztree"></div>
        </div>
    </div>
</div>
<div class="ui-layout-center">
    <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <input type="hidden" id="categoryId" name="categoryId">
                            <input type="hidden" id="parentId" name="parentId">
                            <li>
                                课程标题：
                                <input type="text" name="courseTitle"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                        class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                        class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="course:course:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()"
                   shiro:hasPermission="course:course:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()"
                   shiro:hasPermission="course:course:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="course:course:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
            <div class="enlarge_box" style="cursor:pointer;">
                <img id="enlarge_box_img" alt="" name="pic" src="" style="z-index: 99;">
            </div>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: layout-latest-js"/>
<th:block th:include="include :: ztree-js"/>
<th:block th:include="include :: select2-js" />
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('course:course:edit')}]];
    var removeFlag = [[${@permission.hasPermi('course:course:remove')}]];
    var chapterFlag = [[${@permission.hasPermi('web:chapter:view')}]];
    var prefix = ctx + "course/course";

    $(function () {
        var panehHidden = false;
        if ($(this).width() < 769) {
            panehHidden = true;
        }
        $('body').layout({initClosed: panehHidden, west__size: 185});
        queryCourseList();
        queryCategoryTree();
    });

    function queryCourseList() {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "课程",
            columns: [{
                checkbox: true
            },
                {
                    field: 'courseId',
                    title: '课程ID',
                    visible: false
                },
                {
                    field: 'courseTitle',
                    title: '课程标题'
                },
/*                {
                    field: 'coursePrice',
                    title: '课程价格/元'
                },
                {
                    field: 'applePriceMoney',
                    title: '苹果价格/元'
                },*/
                {
                    field: 'coverImage',
                    title: '封面图片',
                    formatter: function (value, row, index) {
                        //return $.table.imageView(value,300,300);
                        if(value != null && value !=""){
                            return "<img class=\"img-clouds\" onclick=\"clouds(this)\" src=" + replaceSpace(value) + "  style=\" width:50px; height:50px;\">";
                        }
                        return "";
                    }
                },
                {
                    field: 'videoImage',
                    title: '视频图片',
                    formatter: function (value, row, index) {
                        if(value != null && value !=""){
                            return "<img class=\"img-clouds\" onclick=\"clouds(this)\" src=" + replaceSpace(value) + "  style=\" width:50px; height:50px;\">";
                        }
                        return "";
                    }
                },
                {
                    field: 'briefTitle',
                    title: '简介标题'
                },
                {
                    field: 'oneCategoryName',
                    title: '一级分类'
                },
                {
                    field: 'twoCategoryName',
                    title: '二级分类'
                },
/*                {
                    field: 'threeCategoryName',
                    title: '三级分类'
                },
                {
                    field: 'useDay',
                    title: '有效天数'
                },*/
                {
                    field: 'sortNum',
                    title: '排序'
                },
                {
                    field: 'createTime',
                    title: '创建时间'
                },
                // {
                //     field: 'recommendStatus',
                //     align: 'center',
                //     title: '是否推荐',
                //     formatter: function (value, row, index) {
                //         return statusTools(row);
                //     }
                // },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-primary btn-xs ' + chapterFlag + '" href="javascript:void(0)" onclick="setChapter(\'' + row.courseId + '\')"><i class="fa fa-book"></i>章节设置</a> ');
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.courseId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.courseId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    }

    /* 用户状态显示 */
    function statusTools(row) {
        if (row.recommendStatus == 1) {
            return '<i class=\"fa fa-toggle-on text-info fa-2x\" onclick="enable(\'' + row.courseId + '\')"></i> ';
        } else {
            return '<i class=\"fa fa-toggle-off text-info fa-2x\" onclick="disable(\'' + row.courseId + '\')"></i> ';
        }
    }

    /* 分类详情——推荐 */
    function disable(courseId) {
        $.modal.confirm("确认要推荐该条课程吗？", function () {
            $.operate.post(prefix + "/recommendEdit", {"courseId": courseId, "recommendStatus": 1});
        })
    }

    /* 分类详情——不推荐 */
    function enable(courseId) {
        $.modal.confirm("确认要不推荐该条课程吗？", function () {
            $.operate.post(prefix + "/recommendEdit", {"courseId": courseId, "recommendStatus": 0});
        })
    }

    function setChapter(courseId) {
        $.modal.openFull("章节列表", ctx + "web/chapter?courseId=" + courseId);
    }

    function queryCategoryTree() {
        var url = ctx + "web/categorys/treeData";
        var options = {
            url: url,
            expandLevel: 2,
            onClick: zOnClick
        };
        $.tree.init(options);

        function zOnClick(event, treeId, treeNode) {
            $("#categoryId").val(treeNode.id);
            $("#parentId").val(treeNode.pId);
            $.table.search();
        }
    }

    $('#btnExpand').click(function () {
        $._tree.expandAll(true);
        $(this).hide();
        $('#btnCollapse').show();
    });

    $('#btnCollapse').click(function () {
        $._tree.expandAll(false);
        $(this).hide();
        $('#btnExpand').show();
    });

    $('#btnRefresh').click(function () {
        queryCategoryTree();
    });

    /* 分类管理 */
    function categorys() {
        var url = ctx + "web/categorys";
        $.modal.openTab("分类管理", url);
    }

    // 放大和隐藏图片
    function clouds(that) {
        $('.enlarge_box').show();
        let img_src = $(that).attr('src');
        let $preview = $('#enlarge_box_img').attr('src')
        if ($preview != img_src) {
            $('#enlarge_box_img').attr('src', img_src)
        }
        //获取图片大小
        let widthHtml = $('#enlarge_box_img').width();
        let heightHtml = $('#enlarge_box_img').height();
        let a_widthHtml = '-' + widthHtml / 2;
        let a_heightHtml = '-' + heightHtml / 2;
        //图片宽高比例
        let proportion = widthHtml / heightHtml;

        //获取浏览器可视区域大小
        let windowsWidth = $(window).width();
        let windowsHeight = $(window).height();
        let a_windowsWidth = windowsWidth * 0.8;
        let a_windowsHeight = windowsHeight * 0.8;
        let b_windowsWidth = '-' + a_windowsWidth / 2;
        let b_windowsHeight = "-" + a_windowsHeight / 2
        let a = "-" + proportion * a_windowsHeight / 2;

        if (widthHtml > a_windowsWidth || heightHtml > a_windowsHeight) {
            $('#enlarge_box_img').css({
                'height': a_windowsHeight + 'px',
                'position': 'fixed',
                'display': 'block',
                'left': 50 + '%',
                'margin-left': a + 'px',
                'top': 50 + '%',
                'margin-top': b_windowsHeight + 'px',
                'z-index': 9999,
            })
        } else {
            $('#enlarge_box_img').css({
                'position': 'fixed',
                'display': 'block',
                'left': 50 + '%',
                'margin-left': a_widthHtml + 'px',
                'top': 50 + '%',
                'margin-top': a_heightHtml + 'px',
                'z-index': 9999,
            })
        }
    }

    //点击放大后的图片隐藏
    $('.enlarge_box').click(function () {
        $('.enlarge_box').hide();
        $('#enlarge_box_img').attr('src', '')
        $('#enlarge_box_img').removeAttr("style")
    });

    function replaceSpace(value) {
        return value.replace(/ /g, '%20');
    }
</script>
</body>
</html>