<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('新增家庭训练资讯')"/>
    <th:block th:include="include :: bootstrap-fileinput-css"/>
    <th:block th:include="include :: summernote-css"/>
    <th:block th:include="include :: select2-css"/>
    <!--导入下面这三玩意-->
    <script th:src="@{/editor/jq.js}"></script>
    <script th:src="@{/editor/tinymce/tinymce.min.js}"></script>
    <script th:src="@{/editor/editor.js}"></script>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-houseTrainingPost-add">
        <input name="informationCategoryId" type="hidden" id="treeId"/>

        <div class="form-group">
            <label class="col-sm-3 control-label is-required">排序：</label>
            <div class="col-sm-8">
                <input name="sortNum" class="form-control" type="number" required>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label is-required">资讯分类：</label>
            <div class="col-sm-8">
                <div class="input-group">
                    <input name="categoryName" onclick="selectHouseTrainingCategoryTree()" id="treeName" type="text"
                           placeholder="请选择归属分类" class="form-control">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label is-required">资讯标题：</label>
            <div class="col-sm-8">
                <input name="informationPostTitle" class="form-control" type="text" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">简介：</label>
            <div class="col-sm-8">
                <textarea name="synopsis" class="form-control"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">封面类型：</label>
            <div class="col-sm-8">
                <select name="informationPostImagesType" class="form-control m-b">
                    <option value="1">图片</option>
                    <option value="2">视频</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label is-required">封面图片/视频：</label>
            <div class="col-sm-8">
                <input type="hidden" name="informationPostImages">
                <div class="file-loading">
                    <input class="form-control file-upload" id="informationPostImages" name="file" type="file">
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">封面图展示位置：</label>
            <div class="col-sm-8">
                <select name="imagesAddress" class="form-control m-b">
                    <option value="top">上</option>
                    <option value="bottom">下</option>
                    <option value="left">左</option>
                    <option value="right">右</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label is-required">基础浏览数量：</label>
            <div class="col-sm-8">
                <input name="basicsBrowseNumber" class="form-control" type="number" required>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label is-required">基础点赞数量：</label>
            <div class="col-sm-8">
                <input name="basicsLikeNumber" class="form-control" type="number" required>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label is-required">热门状态：</label>
            <div class="col-sm-8">
                <div class="radio check-box">
                    <label>
                        <input type="radio" checked value="1" name="hostStatus"> <i></i> 热门</label>
                </div>
                <div class="radio check-box">
                    <label>
                        <input type="radio" value="0" name="hostStatus"> <i></i> 普通</label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label is-required">置顶状态：</label>
            <div class="col-sm-8">
                <div class="radio check-box">
                    <label>
                        <input type="radio" checked value="1" name="topStatus"> <i></i> 置顶</label>
                </div>
                <div class="radio check-box">
                    <label>
                        <input type="radio" value="0" name="topStatus"> <i></i> 普通</label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">资讯文件：</label>
            <div class="col-sm-8">
                <input type="hidden" name="informationPostFile">
                <div class="file-loading">
                    <input class="form-control file-upload" id="informationPostFile" name="file" type="file">
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">资讯内容：</label>
            <div class="col-sm-8">
                <input type="hidden" class="form-control" name="informationPostContent" id="informationPostContent">
                <h1 onclick="GetTinyMceContentOne('one')"></h1>
                <textarea id="one" required style="visibility: inherit;"></textarea>
            </div>
        </div>
    </form>
</div>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: bootstrap-fileinput-js"/>
<th:block th:include="include :: summernote-js"/>
<th:block th:include="include :: select2-js"/>
<script th:inline="javascript">
    var prefix = ctx + "web/houseTrainingPost"
    $("#form-houseTrainingPost-add").validate({
        focusCleanup: true
    });

    function submitHandler() {
        GetTinyMceContentOne();
        if ($.validate.form()) {
            $.operate.save(prefix + "/add", $('#form-houseTrainingPost-add').serialize());
        }
    }
    window.onload = function () {
        //资讯内容
        setMytextareaIdName('one');
    }

    //资讯内容
    function GetTinyMceContentOne() {
        $("#informationPostContent").val(tinyMCE.activeEditor.getContent());
    }

    /*资讯分类-新增-选择父部门树*/
    function selectHouseTrainingCategoryTree() {
        var treeId = $("#treeId").val();
        var houseTrainingCategoryId = $.common.isEmpty(treeId) ? "1" : $("#treeId").val();
        var url = ctx + "web/houseTrainingCategory/selectHouseTrainingCategoryTree/"+houseTrainingCategoryId;
        var options = {
            title: '新增家庭训练分类选择',
            width: "380",
            url: url,
            callBack: doSubmit
        };
        $.modal.openOptions(options);
    }

    function doSubmit(index){
        var body = layer.getChildFrame('body', index);
        $("#treeId").val(body.find('#treeId').val());
        $("#treeName").val(body.find('#treeName').val());
        layer.close(index);
    }
    $(".file-upload").each(function () {
        //var val = $("input[name='" + this.id + "']").val()
        $(this).fileinput({
            uploadUrl: ctx + 'app/upload',
            initialPreviewAsData: true,
            //initialPreview: [val],
            allowedFileTypes: ['image'], // 图片上传格式限制
            //allowedFileExtensions: ['jpg', 'png', 'gif'], // 图片上传格式限制
            maxFileCount: 1,
            autoReplace: true
        }).on('fileuploaded', function (event, data) {
            $("input[name='" + event.currentTarget.id + "']").val(data.response.message)
        }).on('fileremoved', function (event) {
            $("input[name='" + event.currentTarget.id + "']").val('')
        })
        $(this).fileinput('_initFileActions');
    });
</script>
</body>
</html>